BasedOnStyle: Microsoft
ColumnLimit: 160 

AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine : true

AlignConsecutiveAssignments: Consecutive
