[user]
        email = haobo.lv@joynext.com
        name = lv_h1 
[diff]
    tool = vimdiff
    ; tool = meld
    ; tool = kdiff3
; [alias]
	; d = difftool
[pull]
    rebase = false
[core]
    editor = nvim
[init]
    defaultBranch = main
[difftool "vimdiff"]
    path = /usr/local/bin/nvim
    prompt = false
[proxy]
	; https = socks5://172.18.32.1:20170
	; https = socks5://172.19.208.1:20170
[merge]
    tool = p4merge
    ; tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "p4merge"]
	path = /home/lv/.local/bin/p4merge
    cmd = p4merge $BASE $LOCAL $REMOTE $MERGED
[mergetool "vimdiff"]
	path = /usr/local/bin/nvim
[commit]
	template = /home/lv/works/working-in-wsl/config/git-commit-template.txt
