[user]
        email = haobo.lv@joynext.com
        name = lv_h1 
[diff]
    tool = vimdiff
    ; tool = bc4
    ; tool = meld
    ; tool = kdiff3
; [alias]
	; d = difftool
[merge]
	tool = bc4
    ; tool = vimdiff
	conflictstyle = diff3

[pull]
    rebase = false
[core]
    editor = nvim
[init]
    defaultBranch = main
[difftool "vimdiff"]
    path = /usr/local/bin/nvim
    prompt = false
[difftool "bc4"]
    path = /usr/bin/bcompare
    prompt = false
[proxy]
	; https = socks5://172.18.32.1:20170
	; https = socks5://172.19.208.1:20170
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "p4merge"]
	path = /home/lv/.local/bin/p4merge
    cmd = p4merge $BASE $LOCAL $REMOTE $MERGED
[mergetool "vimdiff"]
	path = /usr/local/bin/nvim
[commit]
	; template = ${HOME}/.git-commit-template.txt
	template = ~/.git-commit-template.txt
[mergetool "bc4"]
	path = /usr/bin/bcompare
	cmd = bcompare $LOCAL $REMOTE $BASE -mergeoutput=$MERGED
